.info-button{
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 6px 6px;
    padding: 1em 0;
    border-top: 1px solid #20c679;
    transition: all 0.5s;
}
.button-title{
    display: inline-block;
    transition: all 0.5s;
}
.button-title:hover{
    color: #20c679;
}
.button-title:after{
    display:block;
    content: '';
    border-bottom: solid 3px #20c679;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
}
.button-title:hover:after{
    transform: scaleX(1);
}